/* .bookstores{display: grid;grid-template-columns: repeat(1fr, 3);} */
.bookstore-p{width: 400px;height: 300px;display: flex;flex-direction: column;}
.imgcover{width: 150px;height: 150px;}
img{width: 100%;height: 100%;}