.adminCon {
  border-radius: 10px;
  min-width: 600px;
  padding: 50px 100px;
  align-self: center;
  background-color: #fff;
  box-shadow: 20px 20px 10px #979797;
}
.adminCon h3{
  color: #333;
}
.adminCon input{
  border: 1px solid #ddd;
  outline: none;
  &:focus{
    transition: .4s;
    border: 1px solid rgb(57, 161, 175);
    background-color: rgb(246, 254, 255);
  }
}

.adminCon input[type="file"]{
  border: none;
}
.bookstores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.bookstore-p {
  margin-bottom: 100px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 350px;
  gap: 20px;
  align-items: center;
  background-color: #fff;
  padding: 30px 20px;
  box-shadow: 0 5px 10px #aaa;
}
.bookstore-name {
  max-width: 160px;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bookstore-name::before {
  content: "";
  position: absolute;
  width: 100%;bottom: 0;left: 50%;transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  transition: .5s;
  width: 0;
}
.bookstore-name:hover::before {
  width: 100%;
}
.bs-header {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.btnWrap {
  overflow: hidden;
  border-radius: 143rem;
  padding: 5px 10px;
  border: 1px solid #bbb;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #bbb;
  font-size: 14px;
  font-weight: 500;

  & > a:hover {
    transition: 0.3s;
    color: rgb(255, 98, 98);
  }
}
.bookstore-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bookstore-content>span{
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.imgcover {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
  }
  &::after{
    position: absolute;width: 100%;height: 100%;top: 0;left: 0;
    content: "";
    transition: .3s;
    background-color: #33333342;
    opacity: 0;
  }
  &:hover::after{
    opacity: 1;
    z-index: 2;
  } 
}

