.books{width: 1400px;display: grid;grid-template-columns: repeat(5, 1fr);justify-content: center;}

.book{position: relative; margin-top: 50px; justify-self: center;width: 250px;min-height: 350px;border-radius: 10px;overflow: hidden;box-shadow: 0 7px 10px #919191;
  transition: .3s;display: flex;flex-direction: column;align-items: center;background-color: #fff; padding: 20px;gap: 20px;}
  .booktitle h2{word-break: break-all;}
.book:hover{
  cursor: pointer;
  transform: translateY(-10px);
}
.book:hover>.bookedit{
  opacity: 1;
  z-index: 2;
}
.bookedit{
  position: absolute;
  transition: .3s;top: 0;left: 0;
  width: 100%;height: 100%;background-color: #3333333b;display: flex;justify-content: center;align-items: center;
  opacity: 0;
  z-index: 1;
  &>a{
    display: flex;justify-content: center;align-items: center;
    border-radius: 143rem;
    overflow: hidden;
    width: 70px;height: 50px;
    background-color: #fff;
  }
}
.booktitle{display: flex;flex-direction: column;align-items: center;
&>span{font-size: 14px;color: #747474aa;}}
.bookimgcover{width: 100px;height: 130px;overflow: hidden; user-select: none;}

.author{
  word-break: break-all;
}

.book .booktitle h2{text-align: justify;transition: .4s;height: 70px;
  display: -webkit-box;   
    -webkit-box-orient: vertical; 
  -webkit-line-clamp: 2;overflow: hidden;text-overflow: ellipsis;}