*{
    padding: 0;margin: 0;text-decoration: none;list-style: none;box-sizing: border-box;color: inherit;
}

.btn{cursor: pointer;user-select: none;}

header{width: 100%;height: 100px;display: flex;align-items: center;justify-content: center;background-color: #0f172a;color: #becfe7;}
.hdWrap{width: 1400px;height: 100%;display: flex;align-items: center;justify-content: space-between;}
.hdWrap>div:first-child{display: flex;flex-direction: column;}
.hdWrap>div:first-child>a:first-child{font-weight: bold;font-size: 32px;}
.hdWrap>div:first-child>div{display: flex;gap: 20px;}
.login{display: flex;flex-direction: column;align-items: end;}
.signinBtn>span{font-size: 19px;}
.signupBtn{margin-top: 5px;font-size: 12px;&>span{font-size: 15px;}}

dialog{position: fixed;width: 100%;height: 100%;top: 0;left: 0;display: flex;justify-content: center;align-items: center;display: none;z-index: 100;background-color: rgba(0, 0, 0, 0.34);}
form{background-color: #0f172a;color: #becfe7;padding: 20px 40px;border-radius: 20px;overflow: hidden;display: flex;flex-direction: column;gap: 10px;}
form>div{display: flex;justify-content: space-between;gap: 20px;}
.btnWrap{margin-top: 20px;}
form input{border: none;padding: 0 10px;background-color: #becfe7;color: #0f172a;}
form button{background-color: #becfe7; color: #0f172a;padding: 0 10px;}
