*{
    padding: 0;margin: 0;text-decoration: none;list-style: none;box-sizing: border-box;color: inherit;
}

.btn{cursor: pointer;user-select: none;}

header{width: 100%;height: 100px;display: flex;align-items: center;justify-content: center;background-color: #0f172a;color: #becfe7;}
.hdWrap{width: 1400px;height: 100%;display: flex;align-items: center;justify-content: space-between;}
.hdWrap>div:first-child{display: flex;flex-direction: column;}
.hdWrap>div:first-child>a:first-child{font-weight: bold;font-size: 32px;}
.hdWrap>div:first-child>div{display: flex;gap: 20px;}
.login{display: flex;flex-direction: column;align-items: end;}
.signinBtn>span{font-size: 19px;}
.signupBtn{margin-top: 5px;font-size: 12px;&>span{font-size: 15px;}}

dialog{position: fixed;width: 100%;height: 100%;top: 0;left: 0;display: flex;justify-content: center;align-items: center;display: none;z-index: 100;background-color: rgba(0, 0, 0, 0.34);}
dialog form{background-color: #0f172a;color: #becfe7;padding: 20px 40px;border-radius: 20px;overflow: hidden;display: flex;flex-direction: column;gap: 10px;}
dialog form>div{display: flex;justify-content: space-between;gap: 20px;}
.btnWrap{margin-top: 20px;}
dialog form input{border: none;padding: 0 10px;background-color: #becfe7;color: #0f172a;}
dialog form button{background-color: #becfe7; color: #0f172a;padding: 0 10px;}

body{width: 100%;height: 100%; background-color: #d7e8ff;}
main{color: #0f172a; width: 100%;height: 100%;display: flex;flex-direction: column;align-items: center;padding: 100px 0;}

.wrap{width: 1400px;display: flex;flex-direction: column;gap: 50px;}
.mainTitle{border-left: 10px solid #0f172a; padding: 5px 10px; }
.wrap input{position: relative;width: 100%; height: 50px;font-size: 18px;padding: 10px;}
.wrap input[type="file"]{background-color: transparent;font-size: 15px;color: #0f172a;}
.wrap form{display: flex;flex-direction: column;gap: 10px;}
.wrap form .btn{height: 50px;font-size: 20px;padding: 10px;background-color: #0f172a;color: #becfe7;}

table{border-collapse: collapse;}
th{background-color: #0f172a;color: #becfe7;padding: 10px 20px;max-width: 350px;}
td{width: 350px;background-color: #d6e7ff;color: #0f172a;text-align: center;font-weight: 500;font-size: 32px;}
td img{max-width: 300px;}
