*{
    padding: 0;margin: 0;text-decoration: none;list-style: none;box-sizing: border-box;color: inherit;
}

.btn{cursor: pointer;user-select: none;}

header{width: 100%;height: 100px;display: flex;align-items: center;justify-content: center;background-color: #0f172a;color: #becfe7;}
.hdWrap{width: 1400px;height: 100%;display: flex;align-items: center;justify-content: space-between;}
.hdWrap>div:first-child{display: flex;flex-direction: column;}
.hdWrap>div:first-child>a:first-child{font-weight: bold;font-size: 32px;}
.hdWrap>div:first-child>div{display: flex;gap: 20px;}
.login{display: flex;flex-direction: column;align-items: end;}
.signinBtn>span{font-size: 19px;}
.signupBtn{margin-top: 5px;font-size: 12px;&>span{font-size: 15px;}}