*{
    padding: 0;margin: 0;text-decoration: none;list-style: none;box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a{color: inherit;}

.btn{cursor: pointer;user-select: none;}

header{z-index: 100;position: fixed;width: 100%;height: 100px;display: flex;align-items: center;justify-content: center;background-color: #0f172a;color: #becfe7;}
.hdWrap{width: 1400px;height: 100%;display: flex;align-items: center;justify-content: space-between;}
.hdWrap>div:first-child{display: flex;flex-direction: column;}
.hdWrap>div:first-child>a:first-child{font-weight: bold;font-size: 32px;}
.hdWrap>div:first-child>div{display: flex;gap: 20px;}
.login{display: flex;flex-direction: column;align-items: end;}
.signinBtn>span{font-size: 19px;}
.signupBtn{margin-top: 5px;font-size: 12px;&>span{font-size: 15px;}}


body{width: 100%;height: 100%; background-color: #eee;}
main{color: #0f172a; width: 100%;height: 100%;display: flex;flex-direction: column;align-items: center;padding: 100px 0;}

.wrap{width: 1400px;display: flex;flex-direction: column;gap: 50px;}
.mainTitle{border-left: 5px solid #424242;padding: 5px 10px; }
.wrap input{position: relative;width: 100%; height: 50px;font-size: 18px;padding: 10px;}
.wrap input[type="file"]{background-color: transparent;font-size: 15px;color: #0f172a;}
.wrap form{display: flex;flex-direction: column;gap: 10px;}
.wrap form .btn{height: 50px;font-size: 20px;padding: 10px;background-color: #0f172a;color: #becfe7;}

header form h2 {font-weight: 500;color: #333;}

textarea{
    max-width: 400px;
    min-width: 400px;
    min-height: 50px;
      &:focus{
    transition: .4s;
    border: 1px solid rgb(57, 161, 175);
    background-color: rgb(246, 254, 255);
  }
    padding: 10px;width: 100%;height: 50px;font-size: 18px; outline: none;border: 1px solid #ddd;} 



.mainImg{
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 40px 0 40px 0;
  transition: .3s;

  &>img{
    user-select: none;
    object-fit: cover;
  }
  &:hover{
    transform: translateY(-60px);
  }
}
.mainImg::after{
  position: absolute;
  width: 100%;height: 100%;top: 0;left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.233);
}
.textWrap{
  position: absolute;
  bottom: 50px;left: 30px;
  color: #fff;
  z-index: 2;
}
.mainWrap{
  position: relative;
}
.lie{
  position: absolute;
  z-index: -1;
  bottom: 10px;
  justify-self: center;
}