dialog{
  background-color: rgba(0, 0, 0, 0.336);
  z-index: 100;
  position: fixed;
  width: 100%;height: 100%;top: 0;left: 0;
  display: flex;justify-content: center;align-items: center;
  display: none;
}
dialog>form{
  border-radius: 10px;
  overflow: hidden;
  padding: 50px;
  display: flex;flex-direction: column; justify-content: center;align-items: center;
  background-color: #fff;
  gap: 30px;
  &>div{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    border-bottom: 2px solid #eee;
    user-select: none;
    &>span{
      color: #aaa;
    }
  }
}

dialog>form>div::before{
  content: "";
  background-color: #333;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;left: 50%;transform: translateX(-50%);
  width: 0;
  transition: .5s;
}
dialog>form>div:focus-within:before{
  width: 100%;
}

header form input{
  background-color: transparent;
  flex: 1;
  padding: 10px 0;
  border: none;
  outline: none;
}

.closeWrap{
  min-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &>.btn{
    border: none;
    background-color: transparent;
    color: #aaa;
    display: flex;
    justify-content: center;align-items: center;
    font-size: 18px;
  }
}
header form>.btn{
  position: relative;
  min-width: 350px;
  min-height: 40px;
  background-color: transparent;
  border: none;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  &>span{
    z-index: 1000;
  }
}
header form>.btn::before{
  position: absolute;
  content: "";
  bottom: -2px;right: 0;
  width: 100%;height: 2px;
  display: flex;justify-content: center;align-items: center;
  transition: .5s;
  background-color: #aaa;
  width: 0;
}
header form>.btn:hover::before{
  width: 100%;
}

header form>.btn::after{
  position: absolute;
  content: "";
  right: -2px;bottom: -2px;
  width: 2px;height: 100%;
  display: flex;justify-content: center;align-items: center;
  transition: .5s;
  background-color: #aaa;
  height: 0;
}
header form>.btn:hover::after{
  height: 103%;
}
