.wrap {
  width: 1400px;
    margin: 0 auto;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
    border-collapse: separate;
    border-spacing: 0 10px; 
    margin-top: 20px;
}
tr{display: flex;}
tbody{display: flex;flex-direction: column;gap: 10px;}

th,td{width: calc(1000px/3);}
th {
    background-color: transparent;
    color: #64748b;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 2px solid #e2e8f0;
    text-align: center;
}

td {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: #1e293b;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); 
    word-break: break-all;
}

td:first-child { border-radius: 10px 0 0 10px; }
td:last-child { border-radius: 0 10px 10px 0; }

tr:hover td {
    background-color: #f8fafc; 
    cursor: pointer;
    transition: 0.3s;
}