table{border-collapse: collapse; justify-self: center;align-self: center;}
tr{display: flex;}
th, td{width: 300px;min-height: 50px;display: flex;justify-content: center;align-items: center;}
th{background-color: #0f172a;color: #fff;font-size: 20px;padding: 20px;}
td{background-color: #fff;border-bottom: 2px solid #eee;padding: 10px;word-break: break-all;}